body{
	margin: 0;
	padding: 0;
    background-color: black;    
}

nav{
	width: 100;
	overflow: auto;
	background: #121212;
}

ul{	
	margin: 0 0 0 250px;
	list-style: none;
	margin-left: 628px;
}

li{
	float: left;
}

li a{
	color: #ccc;
	width: 100px;
	display: block;
	padding: 20px 15px;
	text-decoration: none;
	text-align: center;
}

#articulos {

	width: 60%;
	margin: 0 auto;
}

h2{
	text-align: center;
	color: white;
	width: 100%;
}

#articulos p{
	display: block;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	
}

#articulos figure img{	
	margin: 0 auto;
	width: 100%;
}

section{
    background-color: black;
	float: left;
	width: 70%;
}

section h2{
	color: white;
}

section p{
	color: #367BF0;
}

#logo img{
	position: absolute;
	margin-top: 1px;
	margin-left: 70px;
}

aside{
	background-color: black;
	float: right;
	width: 30%;
}

aside h3{
	color: white;
}

aside h4{
	color: white;
}

aside p{
	color: white;
}

footer{
	background-color: black;
	clear: both;
}

#footer figure img{
	width: 200px;
	height: auto;
}

#footerLetras{
	color: white;
}

#footerLetras a{
	text-decoration: none;
	color: white;
}

#footer p{
	color: white;
}

#botones {
	display: inline-block;
	border-radius: 4px;
	background-color: #1ef45e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;	
	cursor: pointer;
	margin: 5px;
	cursor: pointer;
	opacity: 0.8;
	transition: 0.3s;
}

#botones:hover {opacity: 1}


#botonesA {
	display: inline-block;
	border-radius: 4px;
	background-color: #f41e94;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	cursor: pointer;
	margin: 5px;
	cursor: pointer;
	opacity: 0.8;
	transition: 0.3s;
}
  
#botonesA:hover {opacity: 1}

#frame{
	text-align: center;
	
}

#izquierda{
	float: left;
	padding: 12px;
	display:none;
	height: auto;
	width: auto;
	transform: rotate(180deg);
}

#derecha{
	float: right;
	text-align: right;
	display:none;
	padding: 12px;
	height: auto;
	width: auto;
	
}

#izquierdaa{
	float: left;
	padding: 12px;
	display:none;
	height: auto;
	width: auto;
	transform: rotate(180deg);
}

#derechaa{
	float: right;
	text-align: right;
	display:none;
	padding: 12px;
	height: auto;
	width: auto;
	
}

#frame{
	color: #367BF0;
	width: 60%;
    margin: 0 auto;
	display:none;
}

#frame p{
	display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#botonesMovimiento {
	display: inline-block;
	border-radius: 4px;
	background-color: #702fd8;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 100px;
	cursor: pointer;
	margin: 5px;
	cursor: pointer;
	opacity: 0.8;
	transition: 0.3s;
}
  
#botonesMovimiento:hover {opacity: 1}

#section{
	color: #367BF0;
	width: 60%;
    margin: 0 auto;
	display:none;
	text-align: center;
}

#avisos{
	margin-left: 37%;
	text-align: justify;
}